body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blanchedalmond;
  height: 5vh;
  width: 90vw;
}

nav>div {
  margin-left: 5vw;
  margin-right: 5vw;
}

#brand {
  font-size: 1.5vw;
  font-weight: bolder;
}

table {
  border: 3px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: 3px solid black;
  height: 5vh;
  padding-left: 20px;
}

th {
  width: 15vw;
  height: 3vh;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#destination-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.info {
  font-weight: bold;
}
