<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flights List</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <nav><a href="/flights">ALL FLIGHTS</a><a href="/flights/new">ADD FLIGHT</a></nav>
  <h1>List of Flights</h1>
  <table>
    <thead>
      <th>Flight Number</th>
      <th>Airline</th>
      <th>Departs</th>
    </thead>
    <tbody>
      <% flights.forEach(function(flight, idx) { %>
      <tr>
        <td><%= flight.flightNo %></td>
        <td><%= flight.airline %></td>
        <td><%= flight.departs.toDateString() %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>

</html>