<%- include('../partials/header'); %>

<form action="/flights" method="POST">
  <label>Flight Number:
    <input type="text" name="flightNo" id="">
  </label><br>
  <label>Airline:
    <input type="text" name="airline" id="">
  </label><br>
  <label>Departure Time:
    <input type="datetime-local" name="departs" id="">
  </label><br>
  <label>Airport:
    <select name="airport" id="">
      <option value="AUS">Austin</option>
      <option value="DAL">Dallas</option>
      <option value="LAX">Los Angeles</option>
      <option value="SEA">Seattle-Tacoma</option>
    </select>
  </label>
  <button type="submit">Enter Flight</button>
</form>

<%- include('../partials/footer'); %>